# First, ignore everything
*
# Now, whitelist anything that's a directory
!*/


#keep everything in data
!metadata/*
results_pipeline/
results_analysis
resources/

# And all the file types you're interested in.
!*.sh
!*.R
!*.pl
!*.py
!*.c
!*.md
!*.sub
!*readme.txt*
!*README.txt*
!*readme.md*
!*README.md*


!*.xlsx

#make sure to track .gitignore
!.gitignore
