# First, ignore everything.
*
# Now, whitelist anything that's a directory
!*/


# Ignore Python build-related directories.
.eggs/
build/

# Keep everything in data.
!metadata/*
results_pipeline/
results_analysis
resources/
pipeline_output/

# And all the file types you're interested in.
!*.sh
!*.svg
!*.R
!*.pl
!*.py
!*.c
!*.md
!*.sub
!*readme.txt*
!*README.txt*
!*readme.md*
!*README.md*
!*.rst
!*.xlsx

# Make sure to track .gitignore.
!.gitignore

# Sphinx documentation - build folder
doc/build/

# Track requirements files
!requirements/*.txt

